<!--<img src="../../../assets/resources/main-promo.png" alt="KUST Ceramics" class="m-0 p-0 border-0" />-->
<div class="container-fluid overflow-hidden p-0 m-0 d-flex justify-content-center align-items-center">
  <video id="promo-video" height="580" autoplay="autoplay" muted="muted" loop="loop" playsinline preload="auto">
    <source src="https://kustceramics.com/assets/video/kust_video_03.mp4" type="video/mp4">
  </video>
  <div class="video-overlay w-100 h-100 m-0 p-0 position-absolute"></div>
  <div class="promo-info flex-centered position-absolute w-100 h-100 m-0 p-0">
    <div class="logo-container">
      <svg id="logo-leaf" width="16" height="16" viewBox="0 0 512 512" class="position-absolute" [@leaf-rotation]="leafTimer">
        <path fill="#D9EBE3" fill-opacity=".75" d="M508.17,3.83c0,0-231.985-36.807-386.566,117.774C-6.319,249.527-3.173,430.459,1.717,489.058l243.671-243.67
          l21.225,21.225L22.941,510.283c58.598,4.889,239.531,8.037,367.455-119.887C544.976,235.815,508.17,3.83,508.17,3.83z"/>
      </svg>
      <svg id="logo" width="140px" height="140px" viewBox="0 0 1200 1200">
        <path fill="#D9EBE3" fill-opacity=".75" fill-rule="nonzero" d="M758 574l0 -195c0,-1 -1,-3 -3,-3l-44 0c-1,0 -3,2 -3,3l0 198c0,75 -36,109 -93,109 -51,0 -89,-33 -89,-109l0 -198c0,-1 -2,-3 -3,-3l-56 0c-1,0 -2,1 -2,1 -11,13 -115,131 -128,148 -1,1 -2,2 -3,2l0 -148c0,-1 -1,-3 -2,-3l-38 0c-2,0 -3,2 -3,3l0 329c0,3 3,4 5,2 9,-10 22,-17 36,-23 2,0 2,-1 2,-2l0 -99c0,0 1,-1 1,-1l29 -34c2,-2 4,-2 5,0l139 158c2,2 0,5 -2,5l-94 0c-74,0 -121,33 -121,86 0,48 37,77 99,97 52,18 72,36 72,67 0,35 -29,52 -79,52l-89 0c-2,0 -3,1 -3,3l0 32c0,1 1,3 3,3l86 0c90,0 132,-41 132,-93 0,-50 -32,-78 -97,-100 -53,-18 -74,-35 -74,-66 0,-24 18,-44 70,-44l178 0c1,0 3,2 3,3l0 297c0,1 1,3 3,3l44 0c1,0 3,-2 3,-3l0 -297c0,-1 1,-3 3,-3l110 0c2,0 3,-1 3,-3l0 -31c0,-2 -1,-3 -3,-3l-71 0c-3,0 -4,-4 -1,-6 46,-19 75,-62 75,-134zm-288 -140l0 0c2,-2 6,0 6,2l0 140c0,10 0,20 1,28 0,3 -3,5 -5,3l-73 -85c-1,-1 -1,-3 0,-4l71 -84z"/>
      </svg>
    </div>
    <div class="divider mt-3 mb-3"></div>
    <h4 class="text-white text-center text-uppercase">Ceramic Art<br/>Studio</h4>
    <button class="scroll-btn btn btn-link bg-transparent position-absolute" (click)="scrollDown()">
      <svg fill="#D9EBE3" x="0px" y="0px" width="20px" viewBox="0 0 407.437 407.437">
        <polygon points="407.437,63.398 386.258,42.15 203.718,224.095 21.179,42.15 0,63.398 203.718,266.453 	"/>
      </svg>
    </button>
  </div>
</div>


<!--<svg width="140px" height="140px" viewBox="0 0 1200 1200">-->
<!--  <path fill="#D9EBE3" fill-rule="nonzero" d="M758 574l0 -195c0,-1 -1,-3 -3,-3l-44 0c-1,0 -3,2 -3,3l0 198c0,75 -36,109 -93,109 -51,0 -89,-33 -89,-109l0 -198c0,-1 -2,-3 -3,-3l-56 0c-1,0 -2,1 -2,1 -11,13 -115,131 -128,148 -1,1 -2,2 -3,2l0 -148c0,-1 -1,-3 -2,-3l-38 0c-2,0 -3,2 -3,3l0 329c0,3 3,4 5,2 9,-10 22,-17 36,-23 2,0 2,-1 2,-2l0 -99c0,0 1,-1 1,-1l29 -34c2,-2 4,-2 5,0l139 158c2,2 0,5 -2,5l-94 0c-74,0 -121,33 -121,86 0,48 37,77 99,97 52,18 72,36 72,67 0,35 -29,52 -79,52l-89 0c-2,0 -3,1 -3,3l0 32c0,1 1,3 3,3l86 0c90,0 132,-41 132,-93 0,-50 -32,-78 -97,-100 -53,-18 -74,-35 -74,-66 0,-24 18,-44 70,-44l178 0c1,0 3,2 3,3l0 297c0,1 1,3 3,3l44 0c1,0 3,-2 3,-3l0 -297c0,-1 1,-3 3,-3l110 0c2,0 3,-1 3,-3l0 -31c0,-2 -1,-3 -3,-3l-71 0c-3,0 -4,-4 -1,-6 46,-19 75,-62 75,-134zm-288 -140l0 0c2,-2 6,0 6,2l0 140c0,10 0,20 1,28 0,3 -3,5 -5,3l-73 -85c-1,-1 -1,-3 0,-4l71 -84z"/>-->
<!--  <path fill="#D9EBE3" fill-rule="nonzero" d="M853 308c-55,69 -118,110 -141,92 -22,-18 5,-89 60,-157 55,-69 141,-92 141,-92 0,0 -4,89 -60,157z"/>-->
<!--  <path fill="none" fill-rule="nonzero" stroke="#D9EBE3" stroke-width="59.0551" d="M30 601c0,315 255,570 570,570 315,0 571,-255 571,-570 0,-316 -256,-571 -571,-571 -315,0 -570,255 -570,571"/>-->
<!--</svg>-->
