@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cabin:400,500,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap');

* {
  position: relative;
  box-sizing: border-box;
}

html, body {
  font: normal 62.5%/150% sans-serif;
  background-color: #1b1b1b !important;
}

.carousel-indicators {
  justify-content: flex-start !important;
  margin-left: 20px !important;
  margin-bottom: 30px !important;
  li {
    width: 6px !important;
    height: 6px !important;
    border-radius: 10px !important;
    border: none !important;
    margin: 6px !important;
  }
}

